.App {
  text-align: center;
  color: #ffffff;
}

.keyboard-container {
  position: absolute;
  color: #ffffff;
  bottom: 0;
  padding: 2vw;
}

.keyboard-key, .keyboard-special-key {
  display: inline-block;
  font-size: 8vw;
  border-radius: 15px;
  background-color: #3c3e3f;
  cursor: pointer;
  margin: 0.3vw;
}

.keyboard-key {
  width:9vw;
  height:9vw;
}

@media screen and (orientation:portrait) {
  .tile-container {
    overflow: scroll;
    max-height: 93vw;
  }
}

@media screen and (orientation:landscape) {
  .tile-container {
    overflow: scroll;
    max-height: 30vw;
  }
}


.tile {
  display: inline-block;
  margin: 0.5vw;
  border: 2px solid;
  font-size: 12vw;
  width:14vw;
  height: 14vw;
}

.empty-tile {
  display: inline-block;
  margin: 0.5vw;
  border: 2px solid;
  width:14vw;
  height: 14vw;
}